:root {
    --var-amarillo: #EAC926;
    --var-azul: #03264C;
    --var-celeste: #1259c3;
    --var-gris-oscuro: #666;
    --var-gris-claro: #ebebeb;
    --var-verde: #39b54a;
}
header{
    background-color: var(--var-amarillo);
    padding-bottom: 10px;
  
}

.home__header__section{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.home__header p, nav ul li {
  font-size: 12px;
}
.home__header__logo{
    width: 50%;
}
.home__header__barraDeBusquedad{
    width: 40%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.home__header__barraDeBusquedad input{
    width: 90%;
}

.fa-magnifying-glass{
    position: absolute;
    right: 10%;
    top: 5px;
    color: var(--color-Gris-oscuro);
    font-size: 12px;
}
.home__header nav {
  display: none;
}
#leyenda-cuotas{
    text-align: center;
}
.burger-menu{
   text-align: center ;
   color:#ffffff;
   margin: 10px auto;
}
.burger-menu i{
    padding: 10px;
    background-color: var(--color-Celeste);
    border-radius: 5px;
}
form{
    text-align: center;
}

input{
    width: 57%;
    margin: 0 auto; 
    text-align: center; 
    padding: 10px; 
    margin-top: 6vh;
    border-radius: 5px;
}

button{
    background-color: var(--var-celeste);
    color: var(--var-gris-claro);
    width: 60%;
    margin: 0 auto; 
    text-align: center; 
    padding: 10px; 
    margin-top: 6vh;
    border-radius: 5px;
}